.box {
   width: 15vh;
   padding-bottom: 15vh;
   height: 15vh;
}
.box-1 {
   background-color: #bb0a21;
}
.box-2 {
   background-color: #4b88a2;
}
.box-3 {
   background-color: #252627;
}
.invert {
   /* The invert effect */
   mix-blend-mode: exclusion;
}
